# Jupyter checkpoints
.ipynb_checkpoints/
.ipython/
.local/
.jupyter/

# Kaggle credentials (very important!)
.kaggle/
kaggle.json

# Data files and directories
data/

# OS or IDE files
*.DS_Store
*.vscode/

.cache/
.config/